Demo Workflow.json
{
  "name": "Demo Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        128,
        -656
      ],
      "id": "f08e970e-3cbe-438c-9dcf-3865ead26b99",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "inputText": "={{ $json.Message }}",
        "categories": {
          "categories": [
            {
              "category": "Sales Inquiry",
              "description": "Messages from clinics, practices, or healthcare providers interested in Hendrix Health’s products, solutions, pricing, or partnerships."
            },
            {
              "category": "Other",
              "description": "Any message that doesn’t fit the above categorie or is unclear, spam-like, or irrelevant."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -224,
        -848
      ],
      "id": "3e04ab98-0b74-4b3f-8989-7fbb1564eb8c",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1fWzTr00D_k77HITuS9a5BIK9u7O478rl",
          "mode": "list",
          "cachedResultName": "Knowledge Database",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fWzTr00D_k77HITuS9a5BIK9u7O478rl"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -1744
      ],
      "id": "4b14b75b-d4f0-4e14-8fb3-1b9780d66eb7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "G3Bmrn5qVh1swWC5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {
          "pineconeNamespace": "={{ $json.info.Title }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        304,
        -1952
      ],
      "id": "fd7f6ae3-1112-4441-9338-48b0505c9e09",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "G3tRev9RsBUaFva1",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        -1728
      ],
      "id": "74a1fa7b-d8e9-4674-94b7-76c7228b5808",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "fWX7PGXpKXwd8M2r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        -1744
      ],
      "id": "5e1899b8-c757-455c-8857-d2eb8b452024",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "G3Bmrn5qVh1swWC5",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        -1728
      ],
      "id": "8f6e8718-391a-44dd-af80-a76a052aff10",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        48,
        -1744
      ],
      "id": "dd95dced-8a41-429a-83a2-6faf35071256",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "## Knowledge Database Pipeline\nWhen a new PDF is uploaded to Google Drive, this workflow ingests it into Pinecone as embeddings. \nSupports RAG lookups for technical support and clinician onboarding.",
        "height": 656,
        "width": 1712
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -2032
      ],
      "typeVersion": 1,
      "id": "ec759471-8b3d-43e6-9edf-c27d5b19bbbd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        -624
      ],
      "id": "db4799f2-b2c1-4c7f-a25f-c665eac5122a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fWX7PGXpKXwd8M2r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        704,
        -848
      ],
      "id": "94da3ef8-7941-45d2-9315-283afe2e0ad5",
      "name": "Markdown"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        128,
        -1040
      ],
      "id": "28f6d233-620d-409f-aa39-6cd713078b1a",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1SCE-nQELxoqTOm01U7zrB25meNYtgiQ-0SW5lwiEAUc",
          "mode": "list",
          "cachedResultName": "New Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SCE-nQELxoqTOm01U7zrB25meNYtgiQ-0SW5lwiEAUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "contact_info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SCE-nQELxoqTOm01U7zrB25meNYtgiQ-0SW5lwiEAUc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Work email",
              "displayName": "Work email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact number",
              "displayName": "Contact number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Organisation name",
              "displayName": "Organisation name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -1232
      ],
      "id": "d36c1a79-483a-413b-9579-d87086a54289",
      "name": "Add a new record in New Contact Table",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hPNLNZEOTm3PZrS3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Work email'] }}",
        "subject": "Thank you for contacting MediBridge Health!",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Thank You for Your Inquiry</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      line-height: 1.6;\n      color: #333333;\n    }\n    .container {\n      max-width: 600px;\n      margin: 0 auto;\n      padding: 20px;\n      border: 1px solid #e0e0e0;\n      border-radius: 8px;\n      background-color: #f9f9f9;\n    }\n    .header {\n      font-size: 22px;\n      font-weight: bold;\n      color: #2c3e50;\n      margin-bottom: 10px;\n    }\n    .content {\n      margin-top: 10px;\n    }\n    .footer {\n      margin-top: 20px;\n      font-size: 14px;\n      color: #777777;\n    }\n    .button {\n      display: inline-block;\n      padding: 10px 20px;\n      margin-top: 15px;\n      background-color: #0078d7;\n      color: #ffffff !important;\n      text-decoration: none;\n      border-radius: 5px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      Thank You for Your Inquiry!\n    </div>\n    <div class=\"content\">\n      <p>Hello {{ $json['First name'] }},</p>\n      \n      <p>Thank you for reaching out to MediBridge Health. We have received your message and our Sales Team will review it shortly.</p>\n      \n      <p>Our team is excited to explore how MediBridge Health’s AI-driven solutions can support your organization. We’ll follow up with you as soon as possible.</p>\n\n    <div class=\"footer\">\n      <p>Best regards,<br>\n      MediBridge Health Team</p>\n      <p style=\"font-size:12px;\">This is an automated message. Please do not reply directly to this email.</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        -1040
      ],
      "id": "1cb67ad7-e8e6-463e-b96f-c5bd4ceb46ea",
      "name": "Send auto-acknowledgment email",
      "webhookId": "dcab04b4-7b78-48c5-91f8-f7c6d2909727",
      "credentials": {
        "gmailOAuth2": {
          "id": "WoECcnCl9ev1tuxc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "xu541197672@gmail.com",
        "subject": "New Enquiry",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        -848
      ],
      "id": "2bcb10d3-62b5-4dac-aa18-c1fb5d955ad8",
      "name": "Send a message to sales team",
      "webhookId": "0147d8cd-c5da-4a3b-97b7-4680f856d66e",
      "credentials": {
        "gmailOAuth2": {
          "id": "WoECcnCl9ev1tuxc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an AI assistant helping MediBridge Health research organizations that contact us.\n\nInputs you will receive:\n- Contact Name: {{ $json['First name'] }} {{ $json['Last Name'] }}\n- Email: {{ $json['Work email'] }}\n- Mobile: {{ $json['Contact number'] }}\n- Message: {{ $json.Message }}\n- Company: {{ $json['Organisation name'] }}\n\nYour task is to turn a new Contact Us form submission into a polished internal email that contains:\n1. Contact details you received.  \n2. Original message from the sender.  \n3. AI-generated company research:  \n   - Company Name  \n   - Industry  \n   - Location  \n   - Summary of business/products/services/vision/mission  \n   - Healthcare relevance  \n   - Potential interest in Hendrix Health’s solutions  \n   - Website (if available)\n4. Urgency classification (Low/Medium/High) with a one-line reason.  \n5. Suggested next actions for the Sales Team.  \n\nFormat the output as a professional internal email with the following structure:  \nHello Sales Team,  \n\nA new sales inquiry has been submitted via the Contact Us form.  \nHere are the details and AI-generated briefing:  \n\nContact Details  \n....\n\nMessage Submitted  \n\"...\"\n\nAI Research on Company  \n- Company Name: ...  \n- Industry: ...  \n- Location: ...  \n- Summary: ...  \n- Healthcare Relevance: ...  \n- Potential Interest in Hendrix: ...  \n\nUrgency Classification  \n- Category: Sales Inquiry  \n- Urgency: ...  \n\nNext Actions (Suggested)  \n\n\nAvoid using conversation tone."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        352,
        -848
      ],
      "id": "e36c0081-13d4-4432-a0fe-1c05647ed2bf",
      "name": "Draft the email",
      "credentials": {
        "googlePalmApi": {
          "id": "fWX7PGXpKXwd8M2r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Contact us",
        "formDescription": "Have a question or want to learn more? Send us a message, and we’ll get back to you soon!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First name",
              "placeholder": "Your first name",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name",
              "placeholder": "Your last name",
              "requiredField": true
            },
            {
              "fieldLabel": "Work email",
              "fieldType": "email",
              "placeholder": "Your company email",
              "requiredField": true
            },
            {
              "fieldLabel": "Contact number",
              "placeholder": "Your contact number",
              "requiredField": true
            },
            {
              "fieldLabel": "Organisation name",
              "placeholder": "Your organisation name",
              "requiredField": true
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea",
              "placeholder": "Enter any additional information",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -448,
        -848
      ],
      "id": "dbbe1d77-0b05-4329-ac5f-597c212c2398",
      "name": "Contact Us Form",
      "webhookId": "63f9e5df-4caa-4d91-b790-ba9dbfa7a960"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "778a86da-c77a-4c78-82ea-50e131b47e01",
        "authentication": "jwtAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        -336
      ],
      "id": "e8e41023-0f4b-4514-8559-52305a07af62",
      "name": "Webhook",
      "webhookId": "778a86da-c77a-4c78-82ea-50e131b47e01",
      "credentials": {
        "jwtAuth": {
          "id": "SvEzPo3OGOgQARwi",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemPromptTemplate": "=You are an AI assistant helping MediBridge Health’s Technical Support Team quickly resolve incoming clinician or staff issues.  \n\n- Ticket submitted by: {{ $json.body.submitted_by.name }}\n- Role: {{ $json.body.submitted_by.role }}\n- Contact: {{ $json.body.submitted_by.email }} / {{ $json.body.submitted_by.mobile }}\n- Issue description: \"{{ $json.body.message }}\"\n- Additional metadata: {{ $json.body.ticket_id }}, {{ $json.body.submitted_at }}\n- Vector database search results: [list of relevant docs, or top N embeddings]\n\n\nYour task is to produce a concise, plain-English summary to help the support engineer resolve the issue faster. Include:\n\n\n1. **Original Question / Issue**: Restate the question in one clear sentence.  \n2. **Relevant Documentation**: List the 2–3 most relevant internal documents or guidance notes (Include the exact original title and number as written in the source document (Do not include internal reference codes or IDs such as INT-GUIDE-3.5), and quote or summarize the key content from that section that relates directly to the user’s issue).  \n3. **Suggested Next Steps**: Provide 2–3 actionable suggestions for the support staff to address the issue based on the relevant documentation.  \n4. Keep the output in **plain English**, professional, summarize and highlight the most actionable info.  \n\nFormat the output like this:\n\n---\nHello Support Team,\n\nA new technical support ticket has been submitted. Here are the details:\n\nTicket Info:\n- Submitted by: \n- Role: \n- Contact: \n- Ticket ID: \n- Submitted At: \n- Original Message: \n\n**Support Request Summary:**  \n[Concise plain-English summary of the issue]\n\n**Relevant Documentation:**  \n- [List of key points, links, or instructions from vector DB results]\n\n**Suggested Next Steps:**  \n1. [Step-by-step guidance or links for resolution]\n2. [Optional: escalate if high urgency]\n---\n\nDo not include any filler text or explanations. Focus only on **what the support team needs to know and do**.\n\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        -64,
        -336
      ],
      "id": "3c1fc601-eec6-4d20-b3c0-600476923b7c",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        -112
      ],
      "id": "e4dd6410-9386-4e5c-abcb-786b325282e5",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "fWX7PGXpKXwd8M2r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        32,
        -112
      ],
      "id": "5412db06-071a-4338-bdb9-57985293f8d2",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "useReranker": true,
        "options": {
          "pineconeNamespace": "Heidi Health Technical Documentation"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        32,
        96
      ],
      "id": "e7836cc7-b092-447c-b35b-4382fc889b0a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "G3tRev9RsBUaFva1",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        304
      ],
      "id": "e33e0d2d-ca8c-4cd8-b0da-7a9fa51d453d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "fWX7PGXpKXwd8M2r",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        176,
        304
      ],
      "id": "2419cb5a-5781-4ac2-8c72-fe40f173428a",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "j4zTtiuMcONRuemR",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        480,
        -1520
      ],
      "id": "906446b5-a400-4e14-a22c-d2c7e87c672a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        400,
        -336
      ],
      "id": "102ca266-2268-436d-997b-3810de07cbda",
      "name": "Markdown1"
    },
    {
      "parameters": {
        "sendTo": "xu541197672@gmail.com",
        "subject": "New Clinician Support Request",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        -336
      ],
      "id": "ff461f52-0bac-43c8-8e47-b583f46af76a",
      "name": "Send a message to technical support team",
      "webhookId": "0147d8cd-c5da-4a3b-97b7-4680f856d66e",
      "credentials": {
        "gmailOAuth2": {
          "id": "WoECcnCl9ev1tuxc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Smart Lead Capture Pipeline\nCaptures Contact Us form submissions, classifies them with AI, and routes accordingly. \nSales inquiries trigger auto-ack emails, company research, and enriched notifications to Sales. \nOther inquiries are logged separately for reporting.",
        "height": 816,
        "width": 1712
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -1296
      ],
      "typeVersion": 1,
      "id": "70b3fffd-aaed-49a7-a771-f4b79d0601ec",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Technical Support Pipeline\nTriggered via secure webhook with JWT auth. Summarizes clinician issue, retrieves relevant docs from Pinecone, \nand drafts an email with request summary, relevant documentation, and suggested next steps for the support team.",
        "height": 880,
        "width": 1712
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -432
      ],
      "typeVersion": 1,
      "id": "a135e5f6-d11d-4ab8-9e4e-af08e777cc16",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1SCE-nQELxoqTOm01U7zrB25meNYtgiQ-0SW5lwiEAUc",
          "mode": "list",
          "cachedResultName": "New Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SCE-nQELxoqTOm01U7zrB25meNYtgiQ-0SW5lwiEAUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 389814345,
          "mode": "list",
          "cachedResultName": "Other",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SCE-nQELxoqTOm01U7zrB25meNYtgiQ-0SW5lwiEAUc/edit#gid=389814345"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Work email",
              "displayName": "Work email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact number",
              "displayName": "Contact number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Organisation name",
              "displayName": "Organisation name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -656
      ],
      "id": "801ee0dc-3448-4fea-9978-12c62c634cf5",
      "name": "Add a new record",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hPNLNZEOTm3PZrS3",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Text Classifier": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send a message to sales team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Add a new record in New Contact Table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Draft the email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send auto-acknowledgment email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft the email": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Us Form": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Add a new record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "Send a message to technical support team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2772a06e-2f8d-4144-8c5f-2374f2258e76",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5097ce3981e3361ba335062b855d8d26e075fd85843dda8b41056c1c49400100"
  },
  "id": "IfPATAEgKqPupKjx",
  "tags": [
    {
      "updatedAt": "2025-11-04T07:00:45.424Z",
      "createdAt": "2025-11-04T07:00:45.424Z",
      "id": "5YZsxbSoF1TXraOl",
      "name": "Healthcare Automation"
    }
  ]
}
